@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-repeat: no-repeat;
}
main {
  margin-bottom: 48px;
  border-top: 0.4px solid #00e1f5;
}
p {
  font-size: 1.2rem;
}
h1 {
  font-size: 2rem;
  color: #00e1f5;
}
h2,
h3 {
  padding-bottom: 40px;
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
button:hover {
  cursor: pointer;
}
button i {
  padding-left: 5px;
  font-size: 1rem;
}
.box a:visited {
	color: #000000;
	
  }
.link-contato a:visited {
	color: #000000;
	
  }  
/* ------------------------------------------------ Seção Cabeçalho ------------------------------------------------ */
header {
  background: linear-gradient(68.15deg, #32494b 16.62%, #000000 85.61%);
  color: #ffffff;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 0.4px solid #00e1f5;
  padding: 6rem 0;
}
.col-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.conteudo-botao {
  background-color: #00e1f5;
  width: 10rem;
  height: 3rem;
  border: none;
  box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.imagem-header {
  border-radius: 50%;
  height: 30rem;
  box-shadow: -10px 5px 4px #00e1f5;
}
nav a {
  color: #ffffff;
}
nav a:hover {
  color: #00e1f5;
}

ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}
/* ------------------------------------------------ Seção das Habilidades ------------------------------------------------*/

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.col-skill {
  display: flex;
  gap: 7rem;
}
.box {
  box-shadow: -10px 5px 4px #00e1f5;
  background: linear-gradient(68.15deg, #32494b 16.62%, #000000 85.61%);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
  padding: 10px;
}

.skills .box i {
  font-size: 10rem;
}

/* ------------------------------------------------ Seção das Projetos ------------------------------------------------*/
.projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-projeto {
  display: flex;
  gap: 7rem;
}
.col-projeto .box {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.col-projeto .box h4 {
  padding: 1rem 0;
}

.projetos .col-projeto img {
  height: 15rem;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.projetos .tecnologias {
  padding: 1rem 0;
}
.tecnologias ul li {
  background-color: #00e1f5;
  padding: 10px;
  border-radius: 15px;
  color: #000000;
  border: none;
}
.links {
  padding: 1rem;
}
.links button {
  background: #ffffff;
  color: #000000;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 15px;
  text-decoration: none;
}
/* ---------------------------------------------------- Rodapé ----------------------------------------------------*/
footer{
	background: #111819;
	color: #ccc;
}
.contato{
	padding-top: 3rem;
}
.footer-col{
	display: flex;
	justify-content: space-around;
	
}
.footer-col a:visited{
	color: #ccc;
}
/* ------------------------------------------------ Responsividade ------------------------------------------------*/

@media screen and (max-width: 730px) {
  .conteudo-principal {
    flex-direction: column;
  }
  .col-1 {
    display: flex;
    text-align: center;
    align-content: center;
    padding-bottom: 2rem;
  }
}
